<%= index_header(Powder) %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @powders.each do |powder| %>
      <tr>
        <td><%= powder.name %></td>
        <td><%= index_actions(powder) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination(Powder) %>
