<%= index_header(Caliber) %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calibers.each do |caliber| %>
      <tr>
        <td><%= caliber.name %></td>
        <td><%= index_actions(caliber) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
