<%= index_header(Primer) %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @primers.each do |primer| %>
      <tr>
        <td><%= primer.name %></td>
        <td><%= index_actions(primer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination(Primer) %>
