/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";
@import 'jquery.ui.theme';
@import 'jquery.ui.core';
@import 'jquery.ui.menu';
@import 'jquery.ui.autocomplete';
@import 'scoped_search';
@import "tempusdominus-bootstrap-4";
@import 'bootstrap3';

.input-group-append {
  margin-left: 10px;
}

.time-picker .input-group-append {
    margin-left: -1px;
}

.date-picker .input-group-append {
    margin-left: -1px;
}

.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}

.form-control-with-unit {
    @extend .form-control;
    width: 80%;
    display: inline;
}

//https://getbootstrap.com/docs/4.0/examples/dashboard/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    .nav-link {
        font-weight: 500;
        color: #333;
    }
    .nav-link:hover {
        background-color: #A9A9A9;
    }
}

//https://getbootstrap.com/docs/4.0/examples/dashboard/
.sidebar-sticky {
    //position: -webkit-sticky;
    //position: sticky;
    top: 48px;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

@include media-breakpoint-down(sm) {
    .sidebar {
        position: relative !important;
    }
}
